#root{
    width: 45rem;
    height: 45rem;
    margin-top: 17rem;
    margin-left: 8rem;
    border-radius: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 0.2rem solid rgb(219, 194, 163);
}