.caja-padre{
    width: 45rem;
    height: 45rem;
    margin-top: 17rem;
    border-radius: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 0.2rem solid rgb(219, 194, 163);
}

.caja-padre_titulo{
    width: 30rem;
    height: 8rem;
    margin-bottom: 3rem;
    border: 0.2rem solid rgb(219, 194, 163) ;
    border-radius: 2rem;

    font-size: 3rem;
    font-weight: 500;
    color: rgb(88, 141, 112);

    display: flex;
    align-items: center;
    justify-content: center;
}

.botones{
    display: flex;
}

.act-boton{
    width: 13rem;
    height: 5rem;
    margin-left: 4.8rem;
    margin-right: 4.8rem;
    border-radius: 1rem;
    cursor: pointer;

    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    background-color: rgb(88, 141, 112);

    display: flex;
    align-items: center;
    justify-content: center;
}

#bt_user{
    width: 15rem;
    height: 5rem;
    margin-top: 3rem;
    
    border-radius: 10px;
    background-color: rgb(219, 194, 163);
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

#bt_user:hover{
    background-color: rgb(88, 141, 112);
    transition: 1s;
}